.sidebar {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1.5rem;
    transition: 0.5s;
    background-color: white;
}

.sidebar-close {
    width: 0;
}

.sidebar-open {
    width: 20rem;;
}

.fa-times {
    font-size: 1.5rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    z-index: 2;
}

.logo {
    height: 2rem;
}

.sidebar-container {
    width: 20rem;
}

.list {
    list-style: none;
    width: 12rem;
    li {
        cursor: pointer;
        padding: 0.3rem 0.5rem;
        border-radius: 0.2rem;
        a {
            color: #212529;
        }
    }
    li:hover {
        background-color: #7c7c7c;
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.logout {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    width: 14rem;
    background-color: #e1dfdb;
}

.btn-light:hover {
    background-color: #7c7c7c;
    color: white;
}