.fa-bars {
    font-size: 1.2rem;
}

.fa-user-circle {
    font-size: 1.4rem;
}

.logo {
    height: 2rem;
}

.search-input {
    width: 90%;
}

.search-input:focus-visible {
    width: 90%;
    outline: none !important;
}

.fa-shopping-cart {
    font-size: 1.5rem;
}

.main-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.counter.counter-lg {
    padding: 0.1rem;
    background-color: red;
    color: white;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    top: -1rem !important;
    position: relative;
    min-width: 1.4rem;
}