.product-img {
    height: 20rem;
    max-width: 90%;
}

.product-name, .product-price {
    font-weight: 600;
    font-size: 1.3rem;
}

.fa-minus-square, .fa-plus-square {
    font-size: 1.5rem;
}

.qty {
    width: 2.5rem;
}

.size {
    width: 2rem;
}